<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name = "log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFile" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="logApp">
      <level value="ALL" />
    </logger>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--数据库连接字符串start-->
    <add key="ConnStr" value="server=114.115.142.34;user id=sa;pwd=Lhsm7800525;database=PFHouse" />
    <!--数据库连接字符串end-->
    
    <!--电接口配置start-->
            <!-- 授权码 authCode-->
            <add key="authCode" value="28ee95766b5ce43f931710d03e2c5028" />
            <!-- 随机字符串 nonce-->
            <add key="nonce" value="1UxoNXlwHQOg4GxlS20y8vDEcVu" />
            <!--读取电后本地回调接口地址ip+端口-->
            <add key="EleIP" value="1UxoNXlwHQOg4GxlS20y8vDEcVu" />
            <!--读取电余额回调接口地址-->
            <add key="readRemainMoney" value="1UxoNXlwHQOg4GxlS20y8vDEcVu" />
            <!--读取电余额回调接口地址-->
            <add key="readRemainEle" value="1UxoNXlwHQOg4GxlS20y8vDEcVu" />
    <!--电接口配置end-->
    
    <!--水接口配置start-->
    <!-- 集成客户编号 id(http://IP:port/api/Account/GetWaterVolume/{id})-->
    <add key="W_ID" value="123" />
    <!--水接口 http://ip+端口-->
    <add key="W_BaseUri" value="http://192.168.1.2:80" />
    <!--读取水余量回调接口地址get-->
    <add key="W_ReadUri" value="api/Account/GetWaterVolume" />
    <!--读取水余量回调接口地址轮询时间间隔：以分钟为单位 例如 60  表示六十分钟执行一次-->
    <add key="W_ReadInterval" value="60" />
    <!--读取水余量回调接口地址 记录上次执行时间 yyyyMMdd HHmmss-->
    <add key="W_ReadLastDate" value="2020-03-25 12:05:05" />
    
    <!--水充值-上传数据地址post-->
    <add key="W_UploadUri" value="api/Account/GetWaterPay" />
     <!-- 水充值-上传数据 轮询时间间隔：以分钟为单位 例如 60  表示六十分钟执行一次-->
    <add key="W_UploadInterval" value="2" />
    <!--水充值-上传数据 记录上次执行时间 yyyyMMdd HHmmss-->
    <add key="W_UploadLastDate" value="2020-03-25 12:05:05" />
    
    <!--水充值-查询结果地址post-->
    <add key="W_UploadQueryUri" value="api/Account/GetWaterPayState" />
     <!--水充值-查询结果 轮询时间间隔：以分钟为单位 例如 60  表示六十分钟执行一次-->
    <add key="W_UploadQueryInterval" value="2" />
    <!--水充值-查询结果 记录上次执行时间 yyyyMMdd HHmmss-->
    <add key="W_UploadQueryLastDate" value="2020-03-25 12:05:05" />
    <!--水接口配置end-->
  </appSettings>
</configuration>